<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <div class="table">
            <table th:each="menu : ${menus}" name="id">
                <a th:href="'menu/view/'+ ${menu.id}" th:for="id"
                    th:value="${menu.id}"
                    th:text="${menu.name}">
                </a>
            </table>

            <a href="/menu/add">Add menu</a>


        </div>

    </body>
</html>