<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <div class="table">
            <table th:each="cheese : ${menu.cheeses}" name="menuCheese">
                <td th:for="menuCheese"
                    th:value="${cheese.id}"
                    th:text="${cheese.name}">
                </td>
                <!--Not sure about above anchor element-->
            </table>

            <p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

        </div>

    </body>
</html>